@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes slide-fade-in {
        0% {
            opacity: 0;
            transform: translateY(40px) scale(0.95);
        }

        100% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0
        }

        100% {
            opacity: 1
        }
    }

    @keyframes pop {
        0% {
            transform: scale(0.8);
            opacity: 0
        }

        60% {
            transform: scale(1.1);
            opacity: 1
        }

        100% {
            transform: scale(1);
        }
    }

    .animate-slide-fade-in {
        animation: slide-fade-in 0.5s ease-out both;
    }

    .animate-fade-in {
        animation: fade-in 0.6s ease-in both;
    }

    .animate-pop {
        animation: pop 0.4s ease-out;
    }

    .scrollbar-thin {
        scrollbar-width: thin;
    }

    .scrollbar-thumb-blue-400::-webkit-scrollbar-thumb {
        background-color: #60a5fa;
        border-radius: 9999px;
    }
}